/*CCC_CSShomepage*/
html{
	font-family: 'Noto Sans JP', sans-serif;
	color: grey;
	text-align: center;
	background: url(img/47bec3.png)repeat-x center top,url(img/ffc541.png) repeat-x center,url(img/fc9a76.png) repeat-x center bottom;
	background-size: 100% 1000px, 100% 930px, 100% 950px;
	scroll-behavior: smooth;
}

#pagetitle{
	margin-top:-8px;
	background-color: white;
	padding: 20px 0px;
	font-size: 400%;
	font-family: 'Amatic SC';
	font-stretch: ultra-expanded;
}

.header {
	font-size: 35px;
}

/*white block around text*/
.block{
	width:400px;
	border:solid white;
	background-color: white;
	margin: auto;
	padding: 50px 100px;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
	
}
.topblock {
	height: 270px;
	padding: 20px 90px;
	margin-top: -10px;
	margin-bottom:30px;

}

.block2{
	top: 1700px;
	margin-top: 70px;
	margin-bottom: 10px;

}
.block3{
	top: 2500px;
	margin-top: 20px;
	margin-bottom: 200px;
	
}


/*pictures positioning*/
#purposeI{
	width: 574px;
	height: 250px;
}
#howToI{
	height: auto;
	width: 500px;
	position: absolute;
	top: 1450px;
	right: 0;
	z-index: -1;
}
#howToC {
	height: 700px;
	width: 1400px;
	position: absolute;
	top: 1150px;
	right: 0;
	z-index: -2;
	margin: 0;
	opacity: 80%;
	object-fit: cover;
	float:float;
}

#honnbannI{
	height:auto;
	width: 300px;
}

#honnbannS {
	position: relative;
	top: -110px;
}

/*arrow + animation*/
.arrow{
	height: 250px;
	width: 300px;
	opacity: 70%;
	position: relative;
	animation-name: down;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	padding-bottom: 150px;
}

@keyframes down {
	0% {top: 0px;}
	10% {top: 8px;}
	20%{top:0px;}
	30%{top: 8px;}
	40%{ top:0px;}
	100%{top:0px;}
}


#howToS{
	position:absolute;
	top: 1000px;
	
}


/*button css*/
button{
	border:0;
	background-color: grey;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display:inline-block;
	font-size: 16px;
	margin: auto;
	cursor:pointer;
	transition-duration: 0.4s;
}
button.blue:hover {
	background-color: #47bec3;
	color: white;
}
button.yellow:hover{
	background-color: #ffc541;
}
button.pic{
	background: none;
}

.footer {
	position: absolute;
	top: 2700px;
	right:0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #fc9a76;
	text-align: right;
}
