/*CCC_CSSHowto2*/
html{
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
}

/*header + background*/
.image{
	background: white;
    width: 100%;
    height: 800px;
	transition: 0.5s;
	text-decoration: none;
}
.image#howto {
	position: -webkit-sticky;
	position: sticky;
	top:-600px;
	text-decoration: none;
}
.image#example {
	position: -webkit-sticky;
	position: sticky;
	top: -600px;
	text-decoration: none;
}

.bgP{
	background:#ffc541;
	top: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	transition: 0.5s;
	text-decoration: none;
}
.header {
	color: white;
	font-size: 500%;
	margin: auto;
	position: -webkit-sticky;
	position: sticky;
	top:350px;
	text-decoration: none;
}

h1:hover, h1:focus {
	color: darkgoldenrod;
	transition: 0.6s;

}

/*sticky thing*/
.sticky {
  position: fixed;
  top: -600px;
}

.sticky2{
	position: fixed;
	top: 0;
}

/*button in page*/
button{
	border:0;
	background-color: grey;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display:inline-block;
	font-size: 16px;
	margin: auto;
	cursor:pointer;
	transition-duration: 0.4s;
}
button:hover {
	background-color: #ffc541;
	color: white;
}

p {
	text-align: center;
	width: 100%;
	margin: auto;
}

/*circle around text and line*/
.circle {
	border: solid #ffc541;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	font-size: 18px;
	color: #222;
	background: #ffc541;
	vertical-align: middle;
	display: table-cell;
	padding: 20px;
	position: relative;
	left: 230px;
	z-index: -1;
}


.midtext {
	border: solid #ffc541;
	border-radius: 50px;
	color: #222;
	text-align: center;
	background: #ffc541;
	text-align: center;
	padding: 20px;
	width: 100px;
	margin-left: 325px;
}
h1.midtext{
	margin-left: 300px;
	width: 150px;
}

.imgHow{
	padding-right: 300px;
	float: right;
}

.line {
	border-left: 15px solid #ffc541;
	height: 4500px;
	display: block;
	position: absolute;
	top: 900px;
	left: 400px;
	z-index: -1;
}

