/*CCC_CSSHowto2*/
html{
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
}

/*header + background*/
.image{
	background: url(img/HOW-TO.png) no-repeat center;
    width: 100%;
    height: 800px;
	transition: 0.5s;
	text-decoration: none;
}
.image#howto {
	position: sticky;
	top:-600px;
}
.image#example {
	position: sticky;
	top: -600px;
}

.bgP{
	background:#ffc541;
	top: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	transition: 0.5s;
	text-decoration: none;
}
.header {
	color: white;
	font-size: 500%;
	margin: auto;
	position: -webkit-sticky;
	position: sticky;
	top:350px;
	text-decoration: none;
}

h1:hover, h1:focus {
	color: darkgoldenrod;
	transition: 0.6s;

}

/*sticky thing*/
.sticky {
  position: fixed;
  top: -600px;
}

.sticky2{
	position: fixed;
	top: 0;
}

/*button in page*/
button{
	border:0;
	background-color: grey;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display:inline-block;
	font-size: 16px;
	margin: auto;
	cursor:pointer;
	transition-duration: 0.4s;
}
button:hover {
	background-color: #ffc541;
	color: white;
}

p {
	text-align: center;
	width: 100%;
	margin: auto;
}


