/*CCC_CSSHowto2*/
html{
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	scroll-behavior: smooth;
}


/*header + background*/
.image{
	background: #ffc541;
    width: 100%;
    height: 800px;
	position: -webkit-sticky;
	position: sticky;
	top: -670px;
	transition: 0.5s;
	z-index: 1;
}

.bgP{
	background:#ffc541;
	position: -webkit-sticky;
	position: sticky;
	top: -670px;
	text-align: center;
	height: 800px;
	width: 100%;
	transition: 0.5s;
	z-index: 1;
}
.header {
	color: white;
	font-size: 90px;
	margin: auto;
	position: -webkit-sticky;
	position: sticky;
	top:300px;
	text-align: center;
	text-decoration: none;
	
}

.no_underline {
	text-decoration: none;
}


.header:hover, .header:focus {
	color: darkgoldenrod;
	transition: 0.5s;

}

/*sticky thing*/

.sticky{
	position: fixed;
	top: -670px;
}

#link1 {
	height: 1px;
	width: 900px;
	position: absolute;
	top: 700px;
}
#link2 {
	height: 1px;
	width: 900px;
	position: absolute;
	top: 7300px;
}

/*button in page*/
button{
	border:0;
	background-color: grey;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display:inline-block;
	font-size: 16px;
	margin: 50px auto;
	cursor:pointer;
	transition-duration: 0.4s;
	width: 200px;
}
button:hover {
	background-color: #ffc541;
	color: white;
}

p {
	text-align: center;
	width: 100%;
	margin-left: 0 ;
}


/*rectangle around text and line*/
.rectangle {
	border: solid #ffc541;
	width: 300px;
	text-align: left;
	font-size: 18px;
	color: #222;
	background: #ffc541;
	padding: 50px 50px 50px 50px;
	vertical-align: middle;
	z-index: -2;
	box-shadow:  15px 5px 0 rgba(252, 154, 118,1);
	margin-top: 0;

}
.width {
	width: 400px;
}
.width-8 {
	width: 500px;
}
#smaller {
	font-size: 30px;
}



.midtext {
	border-bottom:3px solid #ffc541;
	font-size: 35px;
	color: #696969;
	padding: 0px;
	margin-top: 100px;
	width: 100%;

}

.title {
	font-size: 35px;
	color: #696969;
	/*text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), 2px 2px 7px rgba(0, 0, 0, 0.3);*/
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}



img{ 
	float: left;
	z-index: -2;
	margin-right: 30px;
}

