/*CCC_CSSpurpose page*/

html{
	font-family: 'Noto Sans JP', sans-serif;
	text-align: center;
	scroll-behavior: smooth;
}

/*header + background*/
.image{
	background: #47bec3;
    width: 100%;
    height: 800px;
	position: -webkit-sticky;
	position: sticky;
	top: -650px;
	transition: 0.5s;
}

.bgP{
	background:#47bec3;
	text-align: center;
	height: 800px;
	width: 100%;
	transition: 0.5s;
}

.header {
	color: white;
	font-size: 90px;
	margin: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 300px;
	text-align: center;
}

.no_underline {
	text-decoration: none;
}
	

.header:hover, .header:focus {
  color: teal;
  transition: 0.5s;
}


.para{
	width: 800px;
	margin:auto;
	margin-top: 50px;
}

h2 {
	font-size: 35px;
	margin-top: 100px;
	border-bottom: 3px solid #47bec3;
	width: 100%;
}

#link {
	position: absolute;
	top:700px;
	height: 1px;
	width: 100%;
}

/*button in page*/
button{
	border:0;
	background-color: grey;
	color: white;
	padding: 10px 20px;
	text-align: center;
	display:inline-block;
	font-size: 16px;
	margin: 50px auto;
	cursor:pointer;
	transition-duration: 0.4s;
	width: 200px;
}
button:hover {
	background-color: #47bec3;
	color: white;
}




