/*CCC_JavaS.css*/
body{
	font-family: 'Noto Sans JP', sans-serif;
	color:#fc9a76;
	height: 1000px;
}


#canvas {
	font-family: 'Noto Sans JP', sans-serif;
	background: #f2f2f2;
	width: 1000px;
	height: 800px;
}
#copy {
	width: 1000px;
	height: 800px;
	float: right;
	position: absolute;
	top: 127px;
	left: 1000px;
	background: #f2f2f2;
}
dialog{
    width: 350px;
    height: 350px;
	border: none;
	padding: 0px 50px;
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3), 0 6px 25px 0 rgba(0, 0, 0, 0.5);
}
#dialogCanvas{
	height: 110px;
}

	
button, #copyBut{
	border:none;
	background-color: #fc9a76;
	color: white;
	padding: 20px;
	width: 100%;
	text-align: center;
	display:inline-block;
	font-size: 21px;
	margin: auto;
	cursor:pointer;
	transition-duration: 0.4s;
}
button:hover, #copyBut:hover {
	background-color: #fb6b37;
	color: white;
}

#copyBut {
	position: relative;
	top: -800px;
	padding: 15px;
	width: 100px;
	height: 50px;
}

/*--------title + edittitle part------*/
#parpas{
	text-align: center;
	color: #666;
	padding: 0;
	margin: 0;

}
#borderTitle {
	border: 10px double #fc9a76;
	padding: 20px;
	width: 500px;
	position: relative;
	left: 170px;
	margin: 0;
}

#EditTitle {
	background: #fc9a76;
	border: none;
	color: white;
	border-radius: 50%;
	width: 32px;
	float: right;
	cursor: pointer;
	position: absolute;
	top: 24px;
	left: 500px;
}


/*-------------first dialog: want to do------------*/
#InitialDialog {
	width: 650px;
	height: 550px;
}
.instruct{
	padding: 20px 0px;
	font-size: 150%;
	color: #fc9a76;
}

.flex{
	display: flex;
	flex-direction: row; 
}

/*やりたいことのパート*/
#WantToDo {
	width: 570px;
	height: 40px;
	float: left;
}
#wantToDohead {
	text-align: none;
	margin: 0 40px;
}
/*all input box*/
input, .input{
	height: 30px;
	width: 300px;
	border: 1px solid #666;
}
input:hover, .input:hover{
	border: solid #fc9a76;
}
/*condition1*/
#con1 {
	text-align: center;
}

table {
	table-layout: fixed;
	width: 300px; 
	border-spacing: 0;
	border-collapse: collapse;
	margin: auto;
}
#if10, #if11, #if20, #if21,#if30, #if31  {
	width:150px;
}

#positionPat {
	position: relative;
	top: -46px;
}

/*condition2*/
#allcon2 {
	 margin-right: 50px;
 }
/*condition3*/
#allcon3{
	 margin-right: 0;
	 text-align: right;
}
.contitle {
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}

	
/*First dialog button*/
#Iclose{
	border: none;
	position: absolute;
	top: 480px;
	right: 0px;
}

/*----------Dialog: Choice and should do writing--------*/
#decisionDialog{
	height: 500px;
	width: 450px;
	overflow: auto;
}

#ketsudan {
	margin-top: 20px;
	padding: 0;
}

#yarukoto {
	margin-top: 10px;
	padding: 0;
}

p input[type="button"] {
	background-color: #fc9a76;
	border: none;
	border-radius: 50%;
	color: white;
	float:left;
	width: 18px;
	height: 18px;
	font-size: 11px;
}
p[id*="KTD"], p[id*="YBK"], p[id*="YSD"] {
	color: #696969;
	font-size: 15px;
	padding: 0;
	margin-top: 10px;
}

.textinput {
	float: right;
	
}
.text-title{
	position:relative;
}	


#edit1, #edit2 {
	width: 150px;
}

#tsuika{
	border-right: solid white;
	width: 215px;
	float: left;
	margin:0;
}
#Dclose {
	border-left: solid white;
	width: 215px;
	float: right;
	margin:0;
}

/*---------dialog: ask for add or delete branch---------*/
#BranchDialog0, #BranchDialog1{
	height: 250px;
}
#Bclose0, #Bclose1{
	width: 100%;
	position: absolute;
	top: 185px;
	right: 0px;
}
/*--------Dialog: radio type - add/delete branch-------*/
.radio{
	float: left;
	position: relative;
	cursor: pointer;
	font-size: 17px;
	margin: 15px;
}
.label{
	position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border: 2px solid #fc9a76;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
}
.label:after {
		  content: '';
		  position: absolute;
		  top: 2.7px;
		  left: 2.7px;
		  width: 10px;
		  height: 10px;
		  border-radius: 100%;
		  background: #fc9a76;
		  transform: scale(0);
		  transition: all .2s ease;
		  opacity: 0.08;
}
.label:hover 
	.label:after {
	transform: scale(3.6);
}
		
	
input[type="radio"]:checked + .label {
	border-color: #fc9a76;
}
input[type="radio"]:checked + .label:after {
		transform: scale(1);
		transition:all .2s cubic-bezier(.35,.9,.4,.9);
		opacity: 1;
}

.hidden {
	display: none;
}

/*------------Diaglog: write again dialog-------------------------*/
#EditDialog{
	height: 300px;
	width: 400px;
}
p.instruct {
	 padding: 0;
	 margin: 30px 0px;
 }
 
#edit{
	float: none;
	margin: auto;
}
#tableEdit, #edit0 {
	width: 400px;
}

#edit1, #edit2 {
	width: 200px;
}

#Eclose{
	width: 100%;
	position: absolute;
	top: 230px;
	right: 0px;
}

/*-------Diaglog: list of should do things-------*/
#FditDialog {
	height: 350px;
	width: 450px;
	text-align: center;
}
#hensyu {
	width: 50%;
	position: absolute;
	top: 285px;
	left: 0px;
	border-right: solid white;
}

#Fclose{
	width: 50%;
	position: absolute;
	top: 285px;
	right: 0px;
	border-left: solid white;
}
#should {
	width: 400px;
	position: absolute;
	top: 240px;
	left: 75px;
	margin: auto;
}
.DelDialog {
    background: #fc9a76;
	border: none;
	color: white;
	border-radius: 50%;
	width: 30px;
	float: right;
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
	
}
}